@import "styles/screen";
.section{
  width: 100%;
  height: 400px;
  background: var(--primary);
  position: relative;
  //z-index: -5;

  @include medium{
    //height: 350px;
  }


  .bg{
    position: absolute;
    background-image: url("/callOrderBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .wrap{
    display: flex;
    justify-content: center;
  }

  .content{
    margin-top: 50px;
    z-index: 5;
    color: var(--white);

    font-family: 'Noto Sans', 'sans-serif';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.35;
    text-align: center;



    .sendSuccess{
      font-family: 'Noto Sans', 'sans-serif';
      margin: 70px 0;
      color: var(--white);
      font-weight: 700;
      font-size: 36px;
    }

    .title{
      font-weight: 700;
      font-size: 64px;
      line-height: 1.2;

      @include medium{
        font-size: 52px;
      }
      @include tablet{
        font-size: 34px;
      }

      @include mobile{
        font-size: 22px;
      }


    }
    .subTitle{


    }
    .form{
      margin-top: 70px;
      max-width: 600px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      @include medium{
        flex-direction: column;
        align-items: center;
        padding: 0 10px;

      }


      .input{
        //max-width: 250px;
        width: 100%;
        height: 50px;
        background: var(--white);
        border: 2px solid transparent;
        padding: 0 20px;

        @include medium{
          width: 80%;
        }


        &::placeholder{
          font-weight: 400;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.3);
        }


        &:focus{
          outline:none;
        }

      }
      .errorInput{
        border: 2px solid var(--red);
        color: var(--red);
      }
      .submit{
        background: transparent;
        border: 3px solid var(--white);

        font-family: 'Noto Sans', 'sans-serif';
        font-weight: 600;
        font-size: 14px;
        line-height: 1.2;
        color: var(--white);
        padding: 0 20px;
        cursor: pointer;

        @include medium{
          width: 50%;
          padding: 20px;
        }
        @include mobile{
          padding: 10px;
          font-size: 10px;
        }

        &:hover{
          background: var(--white);
          color: var(--green);
        }

      }
    }
    .text{
        margin-top: 20px;
        padding: 0 20px;
        color: var(--yellowLight)
    }
  }
}


.preloader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid var(--white);
  border-top: 16px solid var(--greenLight);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
